/*============================================================

                     ✿✿✿ Rose Pine ✿✿✿                 
           A Site Skin for the Archive of Our Own          
                      By Blackbatcat   

==============================================================
SKIN METADATA
==============================================================

  - Skin:         rose-pine/base.css
  - Author:       Blackbatcat
  - License:      MIT
  - Updated:      2026-04-18 19:06 UTC
  
  - Repository:   https://github.com/Wolfbatcat/ao3-rose-pine
  - Instructions: https://archiveofourown.org/works/69993411
  
  - Base:         neos by ZerafinaCSS
                  https://archiveofourown.org/works/65849527
  
  - Inspired by:  Archive 2.0 skin (AO3), Tide (ElectricAlice),
                  Flat Squares (milkfatzero)

==============================================================
*/

/* centered headings */
h2.heading,
h2.heading+h3.heading:not(.landmark) {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  text-align: center;
}